<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="forest_wall_5">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.64338815386942E-18 6.2672693795586E-18 -0.221428571428572"
        rpy="0 0 0" />
      <mass
        value="1050" />
      <inertia
        ixx="987.892857142857"
        ixy="6.80011602582909E-15"
        ixz="1.60070369657563E-13"
        iyy="1771.51785714286"
        iyz="-3.10445764767254E-14"
        izz="791.375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://emnv_scene/urdf_models/forest_wall_5/meshes/forest_wall_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://emnv_scene/urdf_models/forest_wall_5/meshes/forest_wall_5.STL" />
      </geometry>
    </collision>
  </link>
</robot>