<?xml version="1.0"?>
<launch>
    <!-- Posix SITL environment launch script -->
    <!-- launches Gazebo environment and Nx: PX4 SITL, and spawns quadrotors -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <arg name="sdf" default="iris"/>
    <arg name="world" default="$(find emnv_scene)/worlds/empty.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- emnv_ctl_bridge configs -->
    <arg name = "drone_name" default = "iris"/>
    <arg name = "takeoff_height" default = "1.1"/>
    <!-- RATE,ATTI,POSY  -->
    <arg name = "ctrl_pub_level" default = "ATTI"/>
    <!-- RATE,ATTI,POSY  -->
    <arg name = "ctrl_mode" default = "POSY"/>

    <!-- tf -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0 1 map world 100" />

    <!-- 0 -->
    <group ns="0">
        <arg name="drone_id" value="0"/>
        <include file="$(find emnv_scene)/launch/single_quad_spawn.launch">
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="sdf" value="$(arg sdf)"/>
            <arg name="mavlink_udp_port" value="14560"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="drone_id" value="$(arg drone_id)"/>
        </include>

        <arg name="fcu_url" value="udp://:14540@127.0.0.1:14550"/>
        <arg name = "ref_odom_topic" value="/0/mavros/local_position/odom"/>
        <include file="$(find emnv_scene)/launch/single_ctl_bridge.launch">
            <arg name="drone_id" value="$(arg drone_id)"/>
            <arg name="takeoff_height" value="$(arg takeoff_height)"/>
            <arg name="ctrl_pub_level" value="$(arg ctrl_pub_level)"/>
            <arg name="ctrl_mode" value="$(arg ctrl_mode)"/>
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="tgt_system" value="1" />
            <arg name="ref_odom_topic" value="$(arg ref_odom_topic)"/>
        </include>
    </group>

    <!-- 1 -->
    <group ns="1">
        <arg name="drone_id" value="1"/>
        <include file="$(find emnv_scene)/launch/single_quad_spawn.launch">
            <arg name="x" value="1"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="sdf" value="$(arg sdf)"/>
            <arg name="mavlink_udp_port" value="14561"/>
            <arg name="mavlink_tcp_port" value="4561"/>
            <arg name="drone_id" value="$(arg drone_id)"/>
        </include>

        <arg name="fcu_url" default="udp://:14541@127.0.0.1:14551"/>
        <arg name = "ref_odom_topic" value="/1/mavros/local_position/odom"/>
        <include file="$(find emnv_scene)/launch/single_ctl_bridge.launch">
            <arg name="drone_id" value="$(arg drone_id)"/>
            <arg name="takeoff_height" value="$(arg takeoff_height)"/>
            <arg name="ctrl_pub_level" value="$(arg ctrl_pub_level)"/>
            <arg name="ctrl_mode" value="$(arg ctrl_mode)"/>
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="tgt_system" value="2" />
            <arg name="ref_odom_topic" value="$(arg ref_odom_topic)"/>
        </include>
    </group>


    <node name = "gazebo_force_exit" pkg = "emnv_ctl_bridge" type = "gazebo_force_exit.py" output = "screen" />
</launch>
<!-- to add more UAVs (up to 10):
Increase the id
Change the name space
Set the FCU to default="udp://:14540+id@localhost:14550+id"
Set the malink_udp_port to 14560+id) -->
