<launch>
    <!-- MAVROS emnv_ctl_bridge launch script -->
    <!-- launches MAVROS and emnv_ctl_bridge -->

    <!-- sim time -->
    <!-- <param name="/use_sim_time" type="bool" value="false"/> -->
    
    <!-- launches MAVROS and emnv_ctl_bridge -->
    <!-- emnv_ctl_bridge configs -->
    <arg name = "drone_id" default = "0"/>
    <arg name = "drone_type" default = "gazebo_iris"/>
    <arg name = "takeoff_height" default = "2.0"/>
    <!-- RATE,ATTI,POSY  -->
    <arg name = "ctrl_pub_level" default = "ATTI"/>
    <!-- RATE,ATTI,POSY  -->
    <arg name = "ctrl_mode" default = "POSY"/>
    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@127.0.0.1:14550"/>
    <arg name="tgt_system" default="1" />
    <arg name="ref_odom_topic" default="/mavros/local_position/odom"/>

    <include file="$(find emnv_ctl_bridge)/launch/xml/ctrl_bridge.xml">
        <arg name="pos_sp_cmd_topic" value="/drone_$(arg drone_id)_planning/pos_sp_cmd"/>
        <arg name="atti_sp_cmd_topic" value="/drone_$(arg drone_id)_planning/atti_sp_cmd"/>
        <arg name="rate_sp_cmd_topic" value="/drone_$(arg drone_id)_planning/rate_sp_cmd"/>
        <arg name="drone_id" value="$(arg drone_id)"/>
        <arg name="drone_type" value="$(arg drone_type)"/>
        <arg name="takeoff_height" value="$(arg takeoff_height)"/>
        <arg name="ctrl_pub_level" value="$(arg ctrl_pub_level)"/>
        <arg name="ctrl_mode" value="$(arg ctrl_mode)"/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="gcs_udp_ip_and_port" value="127.0.0.1:14550"/>
        <arg name="tgt_system" value="$(arg tgt_system)"/>
        <param name ="ref_odom_topic" value="$(arg ref_odom_topic)"/>
        <!-- <arg name="gcs_udp_ip_and_port" value="udp://@$(arg gcs_udp_ip):14550"/> -->
    </include>
</launch>
